.bui-container {
  width: 100%;
  margin: 1rem auto 1rem auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  .bui-row {
    display: flex;
    flex-wrap: wrap;
  }

  .bui-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
