@mixin faded-border-on-focus {
  border: none;
  position: relative;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    left: -2px;
    top: -2px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    border-radius: 0.4rem;
    border: transparent 6px solid;
    transition: border-color 0.5s ease;
  }

  &.bui-primary:focus::before {
    border-color: rgba($primary, 0.4);
  }

  &.bui-success:focus::before {
    border-color: rgba($success, 0.4);
  }

  &.bui-danger:focus::before {
    border-color: rgba($danger, 0.4);
  }

  &.bui-warning:focus::before {
    border-color: rgba($warning, 0.4);
  }

  &.bui-light:focus::before {
    border-color: rgba($light, 0.4);
  }

  &.bui-dark:focus::before {
    border-color: rgba($dark, 0.4);
  }
}
