@mixin shadow-on-hover {
  box-shadow: none;

  &:hover {
    &.bui-primary {
      box-shadow: 0 4px 8px rgba($primary, 0.3), 0 6px 12px rgba($primary, 0.2);
    }

    &.bui-success {
      box-shadow: 0 4px 8px rgba($success, 0.3), 0 6px 12px rgba($success, 0.2);
    }

    &.bui-danger {
      box-shadow: 0 4px 8px rgba($danger, 0.3), 0 6px 12px rgba($danger, 0.2);
      color: $light;
    }

    &.bui-warning {
      box-shadow: 0 4px 8px rgba($warning, 0.3), 0 6px 12px rgba($warning, 0.2);
    }

    &.bui-light {
      box-shadow: 0 4px 8px rgba($light, 0.3), 0 6px 12px rgba($light, 0.2);
    }

    &.bui-dark {
      box-shadow: 0 4px 8px rgba($dark, 0.3), 0 6px 12px rgba($dark, 0.2);
      color: $light;
    }
  }
}

@mixin inner-shadow-on-active {
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  }
}
