@import "../layout/vars.scss";

.bui-btn-group {
  display: inline-flex;

  .bui-btn {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      z-index: 1;
    }

    &:first-child,
    &:last-child {
      z-index: 0;
    }
  }

  &-vertical {
    flex-direction: column;
    align-items: stretch;

    .bui-btn {
      &:not(:first-child):not(:last-child) {
        margin-top: 0;
        margin-bottom: 0;
      }

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
        margin-bottom: 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
        margin-top: 0;
      }
    }
  }

  &-horizontal {
    align-items: center;

    .bui-btn {
      &:not(:first-child):not(:last-child) {
        margin-right: 0;
        margin-left: 0;
      }

      &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
        margin-right: 0;
      }

      &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
        margin-left: 0;
      }
    }
  }
}
